<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

</head>
<body>
    <div class="instructions">
        <div class="container">
            <h1 class="lead">Register New User</h1>
        </div>
    </div>
    <div class="container">
        <form action="/register" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" id="firstname">
            </div>

            <div>
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" id="lastname">
            </div>

            <div>
                <label for="email">email:</label>
                <input type="text" name="email" id="email">
            </div>
            <input type="submit" value="Register"/>
        </form>
    </div>


</body>
</html>